# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# =========================
# Jupyter / Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Data / Outputs
# =========================
data/raw/
data/interim/
data/processed/

outputs/
models/

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# VSCode
.vscode/

# =========================
# Misc
# =========================
*.tmp
*.bak*
